
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
   * {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1,h3{ 
/*  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mountain-range.jpg) no-repeat;
  padding-top: 61.93333333%;
/*  background-size: cover;*/
 font-family: 'Montserrat';
 margin-top: 6%;
}
header img {
/*  position: absolute;
  top: 0;
  right: 0;
  width: 45.8%;*/
}
header h1 { 
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 12vw;
  line-height: .8;
  margin-top: 20%;
  text-align: center;
}
main { 
  background: #fff;
  position: relative;
  border: 1px solid #fff;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  padding: 2rem 25%;
  line-height: 1.6;
}
@media all and (max-width: 400px) {
  main { padding: 2rem; }
}